.DS_Store
.idea
.history/
public/fileadmin/
public/typo3temp/
public/typo3conf/
public/packages/setup_package/Resources/Private/Scss/.sass-cache
var/
!/vendor/
/vendor/*
!/vendor/t3example/
config/sites/system/
/config/sites/system/additional.php
/config/sites/system/settings.php