@media (max-width: 767px) {

.logoslider .carousel-inner .carousel-item-end.active,
.logoslider .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

.logoslider .carousel-inner .carousel-item-start.active,
.logoslider .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* medium and up screens */
@media (min-width: 768px) and (max-width: 991px) {

.logoslider .carousel-inner .carousel-item-end.active,
.logoslider .carousel-inner .carousel-item-next {
        transform: translateX(33.33%);
    }

.logoslider .carousel-inner .carousel-item-start.active,
.logoslider .carousel-inner .carousel-item-prev {
        transform: translateX(-33.33%);
    }
}

@media (min-width: 992px) {

.logoslider .carousel-inner .carousel-item-end.active,
.logoslider .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

.logoslider .carousel-inner .carousel-item-start.active,
.logoslider .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.logoslider .carousel-inner .carousel-item.active,
.logoslider .carousel-inner .carousel-item-next,
.logoslider .carousel-inner .carousel-item-prev {
    display: flex;
}

.logoslider .carousel-inner .carousel-item-end,
.logoslider .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

/*
Overwrites the default bootstrap vars for carousel controls
Be careful its tricky - sorry
*/

.logoslider .carousel-inner .carousel-item img {
    filter: grayscale(1);
}

.logoslider .carousel-inner .carousel-item img:hover {
    filter: grayscale(0);
}



@media (min-width: 768px) {

    .logoslider .carousel-control-prev,
    .logoslider .carousel-control-next {
        transition: none;
        width: auto;
        opacity: 1;
    }
    .logoslider:hover .carousel-control-prev,
    .logoslider:hover .carousel-control-next {
        transition: none;
        width: auto;
    }
/*
    .logoslider .carousel-control-prev {
        left: -35px
    }

    .logoslider .carousel-control-next {
        right: -15px
    }
*/
    .logoslider .carousel-control-prev-icon {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="black"><path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>');
    }

    .logoslider .carousel-control-next-icon {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="black"><path d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>')
    } 
}
@media (min-width:992px) {
    .logoslider .carousel-control-prev {
        left: 0;
    }

    .logoslider .carousel-control-next {
        right: 0;
    }
}