@mixin fluid-typography($minFont,$maxFont,$minBreakpoint,$maxBreakpoint) {
  
    /* Define variable for media query */
    $maxLessOne: $maxBreakpoint - 1;
    
    /* Define variable for fallback */
    $avg: ($maxFont + $minFont) / 2;
   
    /* Base font size */
    font-size: #{$minFont}px;
    
    @media (min-width: #{$minBreakpoint}px) and (max-width: #{$maxLessOne}px) {
      
      /* Adds a fallback for unsupported browsers */
      font-size: #{$avg}px;
        
      /* The fluid typography magic 🌟  */
      font-size: calc(#{$minFont}px + (#{$maxFont} - #{$minFont}) * (100vw - #{$minBreakpoint}px) / (#{$maxBreakpoint} - #{$minBreakpoint}))
    }
    
    @media (min-width: #{$maxBreakpoint}px) {
      font-size: #{$maxFont}px;
    }
  }

  // *Usage 
  // html {
  //   Minimum Fonts, Maximum Fonts, Minimum Breapoint, Maximum Breapoint 
  // 
  //   @include fluid-typography(16,25,667,992);
  // }

  // *Example from https://ryanfeigenbaum.com/easy-responsive-typography/
  // *or Clampgenerator https://clamp.font-size.app/
  // *Example font-size: clamp(1rem, 0.3409rem + 1.581vw, 1.25rem);