  .fadeIn {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
  }

  .fadeInUp {
      animation-name: fadeInUp;
      animation-duration: 1ms;
      animation-timing-function: ease-in-out;
  }

  .fadeInDown {
      animation-name: fadeInDown;
      animation-duration: 1ms;
      animation-timing-function: ease-in-out;
  }

  .text-shadow-hero {
      text-shadow: 2px 1px 2px #adb5bd;
  }