.tx-kesearch-pi1 {
  .result-list-item:hover {
    background: rgba($primary, 0.1);
  }
  a {
    color: $gray-900;
    @extend .stretched-link;

    &:hover {
      text-decoration: none !important;
    }
  }
}

/***
 * Search Overlay
 */

#search-btn {
  position: fixed;
  top: 1em;
  left: 1em;
}

#search-btn:hover {
  cursor: pointer;
}

#search-overlay {
  display: none;
}

#search-overlay.visible {
  display: block;
}

.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
}

.block:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
}

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  padding: 10px 15px;
  color: #fff;
  border: none;
  background: transparent;
}

#search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 4.7em;
  width: 100px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-width: 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

#search-box {
  position: relative;
  width: 100%;
  margin: 0;
}
#close-btn {
  position: fixed;
  top: 1em;
  left: 1em;
}

#close-btn:hover {
  cursor: pointer;
}
